## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [16]:
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats.stats import pearsonr

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [5]:
samples =  np.random.normal(loc=100, scale=15, size=1000)
samples

array([ 90.79511774,  98.04533992, 118.14385204, 101.07675034,
        89.59476087,  91.46655641,  83.87400076,  91.36685804,
        98.63242464, 105.39887298,  88.56209262, 124.82903722,
       106.49219712,  90.99334219, 107.564706  ,  91.76695969,
       118.24175517,  83.99842568,  83.09715273, 102.81445636,
        90.4594741 , 112.76011823, 117.85546976,  96.44534428,
       101.43867117,  87.93907892, 100.16586323, 102.31936833,
       108.69833814, 129.15315844,  95.6020885 ,  88.35595623,
       104.67559768,  93.25506864, 111.26503016, 100.31914166,
       122.17127101, 129.29838204,  97.66999545, 121.41232297,
        69.1432624 ,  76.09986749, 115.90351506,  96.80794414,
       110.94756853, 113.31273182,  38.78401805, 100.75102262,
        67.21738409, 101.54818387, 120.93326796, 116.83932377,
        74.53108448, 108.40272913, 105.96070293,  97.53517806,
       120.02322392, 116.65672674, 127.92790585,  92.43961107,
       113.3615319 , 118.63643412,  96.66084968, 116.39688905,
       109.92916383, 101.72487884,  86.67148224,  93.68357067,
       100.03008839, 108.05764978, 111.99309453, 107.27612366,
       117.76515082,  95.08061912, 101.68914439,  92.94108028,
       101.13705295,  89.834721  , 105.49732368,  95.59403066,
       105.75265918, 123.8813086 ,  72.83394959,  90.7333312 ,
       130.16594477, 100.38685899,  92.78570614,  93.99577148,
        97.76249924,  91.34163937, 109.47443968,  80.8418298 ,
        85.93136612, 114.65807462,  89.19446869,  94.82086747,
       101.59489065,  60.20977211,  96.7868334 ,  80.49386517,
       100.4389626 , 112.92753504,  85.18374452,  81.62617169,
        67.7496143 ,  94.64395023, 120.8665158 , 129.19479857,
       113.11733362,  88.16532734, 116.25315543,  86.92084147,
        71.4778158 , 114.48421523, 113.25979838,  95.8579909 ,
       118.51877471,  81.9605115 , 122.64897946, 103.23876025,
        98.1066124 , 122.64250008, 119.08747129, 120.71113962,
       113.40068467,  91.97927403,  91.84257854,  75.87796188,
        84.89056298,  82.2821233 ,  92.84213941,  67.7455165 ,
        93.09632322,  87.40662432,  92.11165387,  87.67337551,
        90.00572476,  85.15287115, 123.90211092,  73.46926819,
       123.45753217,  96.72620116, 101.28959014, 122.99805733,
        97.05621638,  85.39180835,  98.05097245,  77.68573805,
        88.6399026 ,  95.52938261,  95.08177225, 104.26164039,
       120.0488439 , 101.1988251 , 112.8205841 , 103.68010331,
        97.97264473, 100.75531594,  86.60186286,  96.64126804,
       102.69700148,  99.90054066, 110.47111851, 100.28607123,
        97.91832364, 113.25847025, 107.13462838, 117.92387529,
       113.61311537,  72.95837727,  88.74556278,  83.82023642,
       107.19265048,  95.23879049,  84.39284309, 107.50521014,
        96.30764593,  79.88827688, 105.40954518, 103.54112038,
        89.12099623, 108.79894757,  94.12752425, 100.97590889,
       109.50183484,  95.76365874,  98.932462  ,  92.33957521,
        98.01912969, 117.40396655,  94.16610107,  85.80896625,
       118.05060033, 123.0180487 , 125.21274354,  94.98069199,
       106.39580588,  88.24581656, 118.25888693,  83.86723   ,
       103.77734829,  87.42669198, 117.11854605, 149.76214182,
        95.09009544, 109.95512842,  84.78932569,  90.72193944,
       100.03219771,  92.54973965, 105.52304781,  96.2110072 ,
        99.45125641,  86.867394  ,  83.53718947,  93.59031606,
       103.8564906 , 107.52592974,  98.27210441,  89.8292194 ,
        85.5093032 , 100.1653158 , 101.84605926,  76.10547467,
       117.93984447, 122.20774139,  67.10928274,  88.27440503,
        71.83839516, 105.35926664, 112.85933496, 112.47313432,
        71.03751517, 107.21120646,  81.95294991, 133.54048836,
       100.88129067, 106.5207377 ,  84.26651323,  91.20529805,
       101.8778874 , 104.94387538,  84.07733207,  98.51266602,
        97.9485618 , 118.39017655, 114.81041629,  93.80053432,
        95.65369243,  82.26280172, 127.60065507, 109.3004201 ,
        71.19603439,  92.12350367, 102.89913043, 102.90147382,
        87.9101072 ,  93.7160643 ,  96.3198656 , 118.37767363,
       110.20319407, 100.80253181, 104.36520222,  88.19547027,
       110.59301547,  98.82755817, 139.39096488,  86.526693  ,
       109.6508041 , 117.86461359, 100.42577401, 112.02626721,
        98.92587996,  83.83676392,  83.8743727 , 101.65990134,
        87.5391854 ,  74.62984155,  85.8344621 , 106.08210375,
       104.84372216,  82.95311866,  79.62612871, 103.22392037,
        92.87756013, 111.04108058, 100.45711954, 102.26483486,
        77.79594844,  84.20447223,  86.03078389, 101.24125262,
       130.48979226, 117.46916978,  90.71243821, 101.2503117 ,
       125.5911451 , 116.18129391, 130.7040167 ,  96.82494625,
        78.79880783, 131.7120078 ,  97.99224842, 113.06537314,
        97.41696324,  99.55005141, 116.61888858, 108.03918971,
       101.18525237,  82.80998809,  66.25607562, 112.93295301,
       116.09841526,  88.9977962 , 119.60418683,  88.66303216,
        93.71505588, 113.75363181,  98.36763748, 104.10956131,
       109.0636419 , 107.91451166,  94.80379324,  90.89579303,
       114.11992568,  98.65563416,  88.99442168, 102.2998647 ,
        64.71808689, 129.74574816,  85.00552239,  83.29603325,
       127.59936551, 101.69782541, 105.41737192, 115.68383123,
       119.5261859 ,  79.11330268,  80.61687364, 110.36005721,
        72.57077789, 111.41923866, 114.05642522, 111.43333035,
       133.70516122, 104.60330044,  74.97338692, 104.09488229,
        91.90162112, 119.76444103,  80.06742794,  91.12474342,
       100.77659001, 102.74128046, 131.14094113, 117.74618763,
       104.7712854 , 109.83777795, 115.79133503, 107.72459454,
        91.33076853, 120.72273868,  89.61939904, 111.77300929,
       113.16650697, 105.40935967,  90.71276301,  97.56187358,
       101.39074329,  86.16385251,  87.80748927,  81.54636545,
       114.6636936 , 102.73562047, 111.1039053 , 114.30084715,
       124.82159688,  93.9910303 ,  81.44294878,  90.76101839,
        63.0370607 ,  93.57639138,  81.74725898,  97.75257918,
        76.89579629,  84.34420893, 121.64525035,  80.72560499,
        87.48944886,  97.82749211,  82.36981891, 102.73793758,
        98.02818033,  97.49856133,  87.69612548,  87.07446534,
       120.19103832, 138.37258785, 112.19831597,  90.72125808,
       112.80386222,  99.20854413, 108.12279868, 101.87686781,
       102.02163129,  89.86116148, 101.09913695,  76.37435714,
        92.84544523,  95.34396209,  99.27959871, 106.02887087,
        92.06293142,  80.97329525,  88.38246876, 111.42127445,
       110.11546737, 129.65294011,  96.36155416, 103.00253685,
        89.88402082, 121.34544192, 134.6285373 , 111.31484248,
        88.85415738,  94.81040716,  86.0344355 ,  93.70253319,
        98.46546453, 101.74656278, 111.14342082, 102.7065529 ,
       127.92574576, 102.85770633,  85.79516453,  91.86991012,
       110.70603214,  93.49057489, 128.59577627,  76.266662  ,
       104.01723556,  94.36132028, 129.01107618,  84.5595393 ,
       119.02667212,  68.90517582,  89.29497126, 107.55745582,
        94.64249569,  84.7683129 , 116.80584415,  80.97930924,
        76.82293106, 126.0640863 , 106.92749385,  79.56269324,
       112.22242321,  98.08845949, 112.22513869,  82.64656319,
        82.13314036,  90.48632235,  81.64751618, 116.84634584,
       113.20342141, 103.95660516,  98.6452173 ,  98.11623304,
       112.97160975, 108.87876043,  99.72700079,  99.52453489,
        95.17016803, 111.04323211,  87.6612891 , 105.45575825,
        85.74962784,  92.60336642, 114.13797702,  88.58068994,
       107.58531694, 123.44291962, 115.36719229, 106.61178334,
        85.79728826, 110.04119629,  99.54044896, 116.34183702,
       101.12307905,  87.73410354,  83.84254949,  93.2721427 ,
       116.91191379,  78.20175605,  81.88022977, 104.70701493,
        99.88298088,  57.99203384,  94.01632992, 114.13958901,
       124.74544159, 115.2009279 ,  83.59282785, 104.95038562,
        83.79980528,  89.98527254,  80.69422362,  87.75293873,
        86.8178773 ,  91.4249298 , 122.11761639,  71.67370855,
        87.88242244, 108.54109202, 120.97971763,  81.87893527,
        75.72977099,  91.50780806,  88.25827277,  94.84303876,
       107.18310888, 120.02351998, 123.34837233, 122.0268334 ,
        78.25185379,  95.17510519,  98.62457185, 110.34597694,
        88.03851472, 114.83784265,  87.53338324,  96.85855433,
       107.54951696, 130.19170953, 130.59865327,  74.5327707 ,
       118.50228538,  87.89422596,  94.94759527,  77.61764063,
       102.70970403,  91.81812326, 116.33028463, 119.01883035,
       108.96874903,  74.98219438,  97.30281858, 100.10343125,
        85.27811466, 128.89177882, 130.46785305, 105.61784402,
       122.13966657,  89.47265521, 107.53653574,  86.05476982,
       104.71328217, 117.80973496, 118.40699917, 118.54551288,
        96.60805678,  98.84306026,  68.70437827,  81.01542743,
        96.77760781,  86.68370203, 103.58531573, 100.25276231,
       117.26858879,  84.94380115,  91.20947977,  86.7311286 ,
        90.17742244, 132.57396388,  90.60503391,  92.99905243,
        84.68310922, 113.00664342,  95.75332475,  92.59665639,
       102.08343572,  73.73404647,  90.13302744, 108.98699309,
       107.16663346, 130.23887984,  97.96031645, 113.15675558,
       104.11000258,  87.66935752, 114.26830739,  94.99553769,
        93.69553389, 124.48025312, 119.16051378,  96.9068892 ,
       104.93563782,  84.08447994, 110.0223762 ,  88.55317103,
       113.24381241, 108.82547293, 101.06049006,  75.54515044,
        90.08847635,  78.02523802,  74.11532849, 117.00341604,
       110.45730776,  65.93136509, 106.90665774, 119.75700375,
       130.91327598, 123.62368195,  85.51639271, 104.95194963,
        90.31834213,  87.38311161, 107.00135693, 111.54081382,
        94.16552125, 115.26375813,  83.96721502,  86.47140259,
        98.09917961, 106.03936468, 130.95306114, 102.83042526,
        81.90062155,  82.34825293,  88.39098035, 100.94196676,
       112.75288928, 101.85235695, 103.66771862, 119.90106656,
       103.50979698, 136.01733889,  91.83401013, 102.1171762 ,
        82.6405916 ,  99.35741027, 111.55473872, 130.48613516,
        97.05108654,  76.93910739,  96.80181488, 118.03829302,
        85.40389148,  96.84700395, 131.82942056,  63.67120591,
       120.68010908,  88.49881567, 102.2427898 , 107.03197088,
       106.85672163,  95.83447317,  67.91940567,  74.41478155,
       126.83235728, 105.19254803,  76.88315858, 107.13725918,
       103.90660977, 101.77634423,  73.18875774, 111.53298684,
       108.61529754, 119.31146681, 102.95136273, 111.21333003,
        92.65801012,  91.45956903,  92.0803127 , 130.91038696,
       103.39366782,  90.39993242, 113.29090981, 117.85785432,
       120.85371887, 123.74151249,  99.62310549,  77.97522853,
        98.98446618, 115.86714428,  84.34447901,  82.13030857,
       110.07530473,  95.50073372,  88.09706039,  79.13213949,
       126.82420341, 102.81099966, 129.06160074,  82.79979812,
        80.45561278, 115.89472585, 110.41896459,  69.50465515,
        69.62463017, 107.89780635,  88.84993118, 105.83310758,
       126.16980665,  91.73471322,  66.02179329, 124.87901689,
       102.33697161,  99.55527107, 104.98811813,  93.10742294,
        86.62396957,  67.26823678,  83.48782228,  82.32238523,
        95.39989037,  88.42589743, 101.23948217,  73.04194639,
       106.37082058,  86.11987488,  96.13722861, 128.72385752,
       105.53468614, 120.80111256,  96.30648342, 101.07990157,
        66.68334937, 102.48122142, 117.51025402,  89.47468206,
       109.0231425 ,  89.98784702,  88.58507316, 118.66947219,
       109.02301128, 119.2475068 ,  98.74505539,  85.46883491,
       100.28841332,  88.46544165, 116.95119901, 107.11696003,
       106.69272851, 128.56210616, 105.90213519,  91.05326838,
        83.56317957, 101.85318856, 108.13767122, 121.71337065,
        94.18028324, 104.7675872 , 115.34015102,  83.79023363,
        91.14987551, 103.32397914,  99.83615791,  98.9169046 ,
       108.3442947 , 115.17109456,  76.438     ,  78.37272302,
        78.73153359, 107.6971559 , 111.94940308, 122.2833378 ,
        82.14297518, 104.22831643, 110.53093595, 125.52963315,
       118.83702677,  94.0333347 , 113.50941353,  68.95629688,
       114.35783057,  73.58101307, 121.74172959, 105.11420516,
        99.88210629, 113.02084678, 119.10067596, 101.83184292,
        94.24370174, 107.93914466, 113.79838962, 104.08658156,
       102.30238951,  90.03076258,  80.45054802,  89.89014423,
       114.90978855,  78.33759465,  89.09507165,  99.21636389,
        92.49719184,  88.15764132,  75.65445897,  89.05037625,
        93.77480412,  82.52357571, 110.13845313,  89.48014377,
       138.12092888,  74.12603845, 108.90167802, 102.72801944,
       136.43675443, 109.4736649 , 103.76959728, 116.56876964,
        93.14603387, 118.30658255, 111.01924074, 104.84566426,
       103.92405119,  86.74801494, 109.05801802, 109.30927843,
       104.46768612, 118.33063337,  93.3591224 ,  73.13619917,
       104.45148562, 112.76832953,  92.12110733, 108.76092361,
        97.84860239, 123.59578381,  93.53172645, 111.51101009,
        76.09787523, 102.7020788 , 109.73606558, 112.4116088 ,
        97.44509145, 103.91309275,  87.10752224, 112.19889137,
        82.30649056,  99.35007221,  80.31110439,  94.9379099 ,
        89.49393232,  83.16858281,  89.5529717 ,  76.57303648,
        39.79093797, 100.77741444,  82.24754384,  92.6942451 ,
       116.40799664, 100.16606079,  89.67934591,  99.78452987,
        97.02904961,  88.77163806, 107.12632275, 104.30811363,
       100.50949244,  93.6814434 ,  74.56324864, 108.65595405,
       106.62273223, 100.48596493,  82.63136698,  89.57211309,
        73.75706256, 105.03432662,  78.84656042,  74.43990187,
       102.15913467,  98.45688064,  96.29641015, 136.22077352,
       110.94424034, 118.70207634,  84.40222751,  87.91593622,
        88.48484173, 109.21683151, 106.82422573, 128.52328994,
       101.27469102, 108.10249809, 106.32878908, 107.62016381,
        81.80737602, 110.75738987,  89.82279059, 109.94773075,
       106.52559207,  82.93188868,  94.05730139, 102.27349367,
        98.53443162, 104.81584075,  83.67232262,  92.51718213,
       115.36943249, 106.19112111,  98.40707386,  93.50474077,
       117.87839426,  83.14961702,  91.00612796,  74.57424885,
       105.45288136, 108.31817382,  92.56279759,  97.91428424,
        91.19531039, 122.13315477,  75.41919302, 105.69647676,
       112.71684689,  89.51022069,  97.68816333, 106.37473175,
       103.40218453,  90.50949825,  86.93261817,  90.28210499,
       106.22191129, 119.29490012, 112.63119656, 122.06616474,
       135.74413351, 116.70693452,  77.39327338,  71.79644865,
        84.69481526, 105.19748138, 118.7339183 , 104.26266301,
       101.91699489, 110.91087707, 111.6955136 , 114.2309535 ,
       104.58724713, 102.3503284 ,  90.71081974,  91.46682305,
       106.32735696,  94.24742909,  76.07653184, 101.99000085,
        88.72225116, 140.37168253, 110.75653274, 126.53301274,
       102.2689048 ,  98.74796216, 113.38621182,  96.548848  ,
       113.66952093, 108.92738628,  96.32720473, 112.07354459,
        95.93757787,  99.3498709 ,  95.73024243,  85.1052457 ,
       123.42712103, 106.12319421,  89.07634868, 117.03365814,
       111.92728155,  96.00158273,  87.5350009 , 106.2146486 ,
       113.83284316, 100.94750217,  95.75598546,  86.39598613,
        96.79814311,  80.57603463,  78.51612708, 112.27381846,
        71.32913333, 105.15962165,  98.13933406,  95.18268559,
       108.64785193, 100.63480034,  79.02515039, 105.63254004,
       103.70695942, 115.73791282, 117.75880417, 121.98507766,
        83.86375529,  77.38452075, 123.10090652,  79.64705945,
       119.60561153, 102.01912385,  97.22058476, 105.97039546])

Compute the **mean**, **median**, and **mode**

In [14]:
mean = np.mean(samples)
median = np.median(samples)
mode = st.mode(samples)

print(mean)
print(median)
print(mode)

100.03377311189415
100.20941155005609
ModeResult(mode=array([38.78401805]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [24]:
df = pd.DataFrame(samples)

In [23]:
min = df.min()
max = df.max()
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)
iqr = q3 - q1

print(min)
print(max)
print(q1)
print(q3)
print(iqr)

0    38.784018
dtype: float64
0    149.762142
dtype: float64
0    89.037231
Name: 0.25, dtype: float64
0    110.919218
Name: 0.75, dtype: float64
0    21.881987
dtype: float64

Compute the **variance** and **standard deviation**

In [33]:
import statistics

In [36]:
variance = df.var()
std_dev = df.std()

print(variance)
print(std_dev)

0    235.866445
dtype: float64
0    15.357944
dtype: float64

Compute the **skewness** and **kurtosis**

In [28]:
skewness = st.skew(samples)
kurtosis = st.kurtosis(samples)

print(skewness)
print(kurtosis)

-0.03626201896317395
-0.004400726031717372

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [37]:
x = np.arange(10, 20)
x

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [63]:
y = np.array(np.random.rand(10))
y

array([0.61079668, 0.30481321, 0.92648131, 0.67610572, 0.36727602,
       0.17448017, 0.65886625, 0.62551419, 0.04186845, 0.55980869])

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [9]:
r = np.corrcoef(x, y)
r

array([[1.        , 0.75864029],
       [0.75864029, 1.        ]])

## Pandas Correlation Calculation

Run the code below

In [26]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
df3 = pd.DataFrame([x, y]).T

In [27]:
df3

    0   1
0  10   2
1  11   1
2  12   4
3  13   5
4  14   8
5  15  12
6  16  18
7  17  25
8  18  96
9  19  48

Call the relevant method  to calculate Pearson's r correlation.

In [17]:
pearsonr(x, y)

(0.7586402890911869, 0.010964341301680832)

In [29]:
df3.corr()

         0        1
0  1.00000  0.75864
1  0.75864  1.00000

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [32]:
rho = df3.corr(method ="spearman")
rho

          0         1
0  1.000000  0.975758
1  0.975758  1.000000

## Seaborn Dataset Tips

Import Seaborn Library

In [33]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [35]:
tips = sns.load_dataset("tips")

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [37]:
tips.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [38]:
tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000